<template>
  <section class="wrap-menu">
    <div class="wrap-left">
      <!-- <div class="block-list">
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
        </div>
      </div> -->
    </div>
    <div class="wrap-right">
      <div class="block-slider">
        <v-carousel hide-delimiters height="330">
          <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
        </v-carousel>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
        },
        {
          src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
.wrap-menu {
  display: flex;
  text-transform: uppercase;
  .wrap-left {
    flex-basis: 20%;
    .block-list {
      display: flex;
      flex-direction: column;
      .item {
        display: flex;
        justify-content: space-around;
        padding: 10px 0px;
        border-bottom: 1px ridge #80808082;
      }
    }
  }
  .wrap-right {
    flex-basis: 80%;
  }
}
</style>
