@import 'bulma/sass/utilities/initial-variables.sass';

//colors
$black: hsl(0, 0%, 20%);
$red: #da251c;
$darkRed: #ae1e16;
$black: #232323;
$lightBlack: #2A363F;
$lightRed: #e74a42;

//device
$mid-pc: 1366px;
