<template>
  <header>
    <div class="wrap-header">
      <div class="block-logo">
        <img src="http://trungviethung.com/Image/Picture/Logo/thietbimayvanphong_vn.png" />
      </div>
      <div class="block-info">
        <div class="input-info">
          <v-autocomplete
            hide-details
            hide-selected
            solo
            flat
            label="Tìm kiếm sản phẩm hoặc nhãn hàng?"
            class="border-red"
            append-icon="fa fa-search"
          />
        </div>
        <div class="btn-info cursor-pointer">
          <v-icon class="mr-2" color="white" small>fa fa-shopping-cart</v-icon>
          <span>Giỏ hàng (0)</span>
        </div>
        <div class="btn-contact cursor-pointer">
          <div class="item icon mr-2">
            <v-icon color="white" small>fa fa-phone</v-icon>
          </div>
          <div class="item mr-2">
            <span>(028) 3920 8022</span>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.wrap-header {
  padding: 15px 0px 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  .block-logo {
    flex-basis: 30%;
    img {
      height: 75px;
    }
  }
  .block-info {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .input-info {
      flex-basis: 55%;
    }
    .btn-info {
      background: $red;
      padding: 13px 15px;
      display: flex;
      align-items: center;
    }
    .btn-contact {
      background: $red;
      display: flex;
      .item {
        background: $red;
        padding: 13px 0px;
        display: flex;
      }
      .icon {
        background: $darkRed;
        padding: 13px 12px;
      }
    }
  }
}
</style>
