<template>
  <section class="wrap-menu">
    <div class="wrap-left" @mouseleave="toogleMenuOff">
      <div class="block-menu">
        <div class="item cursor-pointer" @mouseover="toogleMenuOn">
          <v-icon class="mr-2" color="white" small>fa fa-list</v-icon>
          <span>Danh mục sản phẩm</span>
        </div>
      </div>
      <div class="block-list" @mouseover="toogleMenuOn" v-show="isOpenMenu">
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
          <v-icon color="red" small>fa fa-angle-right</v-icon>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
        </div>
        <div class="item">
          <span>Máy photocopy</span>
        </div>
      </div>
    </div>
    <div class="wrap-right">
      <div class="block-menu columns">
        <div class="item column cursor-pointer" v-for="item in listMenu">
          <span
            :class="_getHighlightText(item.highlight)"
            v-text="item.text"
            @click="goToRoute(item.route)"
          ></span>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import classnames from 'classnames';

const listMenu = [
  {
    text: 'Trang chủ',
    route: 'home_page',
    highlight: false,
  },
  {
    text: 'Trang chủ',
    route: 'home_page',
    highlight: false,
  },
  {
    text: 'Chi tiết',
    route: 'detail_page',
    highlight: false,
  },
  {
    text: 'Trang chủ',
    route: 'home_page',
    highlight: false,
  },
  {
    text: 'Khuyến mãi',
    route: 'home_page',
    highlight: true,
  },
  {
    text: 'Trang chủ',
    route: 'home_page',
    highlight: false,
  },
];

export default {
  data() {
    return {
      listMenu,
      isOpenMenu: false,
    };
  },
  methods: {
    _getHighlightText(isHighlight) {
      return classnames({ 'highlight-text': isHighlight });
    },
    toogleMenuOn() {
      if (this.$route.name === 'home_page') return;
      this.isOpenMenu = true;
    },
    toogleMenuOff() {
      if (this.$route.name === 'home_page') return;
      this.isOpenMenu = false;
    },
  },
  watch: {
    '$route.name'(newVal) {
      if (this.$route.name === 'home_page') this.isOpenMenu = true;
      else this.isOpenMenu = false;
    },
  },
  created() {
    this.isOpenMenu = this.$route.name === 'home_page' ? true : false;
  },
};
</script>

<style lang="scss" scoped>
.wrap-menu {
  display: flex;
  text-transform: uppercase;
  .wrap-left {
    position: relative;
    flex-basis: 20%;
    z-index: 999;
    background: white;
    .block-menu {
      background: $red;
      padding: 10px 0px;
      color: white;
      display: flex;
      justify-content: center;
      .item {
        display: flex;
        align-items: center;
      }
    }
    .block-list {
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 100;
      background: white;
      .item {
        display: flex;
        justify-content: space-around;
        padding: 10px 0px;
        border-bottom: 1px ridge gainsboro;
        cursor: pointer;
      }
      .item:hover {
        background: $red;
        color: white;
      }
    }
  }
  .wrap-right {
    flex-basis: 80%;
    .block-menu {
      background: #2b3944;
      display: flex;
      height: 100%;
      justify-content: space-around;
      align-items: center;
      color: white;
      .item {
        position: relative;
        text-align: center;
        .highlight-text {
          color: yellow;
        }
      }
      .item:hover {
        color: $red;
        transition: ease 0.3s;
      }
      .item:before {
        content: '/';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        color: #fff;
        right: 0;
      }
    }
  }
}
</style>
