<template>
  <div class="wrap-detail-page">
    <div class="wrap-breadcums">
      <span v-for="item in items">Trang chủ</span>
    </div>
    <div class="section-product-detail">
      <div class="columns">
        <div class="column is-9">
          <div class="wrap-detail">
            <div class="block-title">
              <span>Máy photocopy Ricoh MP2501L bao gồm ARDF DF 2030</span>
            </div>
            <div class="block-content columns">
              <div class="column is-6">
                <ProductZoomer
                  :base-images="images"
                  :base-zoomer-options="zoomerOptions"
                  class="custom-zoomer"
                />
              </div>
              <div class="column is-6"></div>
            </div>
          </div>
        </div>
        <div class="column is-3">B</div>
      </div>
    </div>
  </div>
</template>

<script>
const zoomerOptions = {
  zoomFactor: 3,
  pane: 'pane',
  hoverDelay: 300,
  namespace: 'zoomer-top',
  move_by_click: false,
  scroll_items: 7,
  choosed_thumb_border_color: '#dd2c00',
  scroller_position: 'top',
  zoomer_pane_position: 'right',
};

const initImage = {
  thumbs: [
    {
      id: 1,
      url: 'https://hoc24.vn/images/avt/avt153008_256by256.jpg',
    },
    {
      id: 2,
      url: 'https://hoc24.vn/images/avt/avt153008_256by256.jpg',
    },
  ],
  normal_size: [
    {
      id: 1,
      url: 'https://hoc24.vn/images/avt/avt153008_256by256.jpg',
    },
    {
      id: 2,
      url: 'https://hoc24.vn/images/avt/avt153008_256by256.jpg',
    },
  ],
  large_size: [
    {
      id: 1,
      url: 'https://hoc24.vn/images/avt/avt153008_256by256.jpg',
    },
    {
      id: 2,
      url: 'https://hoc24.vn/images/avt/avt153008_256by256.jpg',
    },
  ],
};

export default {
  components: {},
  data() {
    return {
      items: [1, 2, 3, 54],
      zoomerOptions,
      images: initImage,
    };
  },
};
</script>

<style lang="scss">
.custom-zoomer {
  .thumb-list {
    visibility: hidden !important;
  }
}
</style>

<style lang="scss" scoped>
.wrap-detail-page {
  .wrap-breadcums {
    padding: 15px 0px;
    border-bottom: 1px solid gainsboro;
    span:after {
      content: '>';
      padding: 0px 10px;
    }
    span:last-child:after {
      content: '';
    }
  }
}

.section-product-detail {
  .wrap-detail {
    .block-title {
      span {
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}
</style>;
