<template>
  <div class="wrap-home-page">
    <div class="section-slider">
      <HomeSlider/>
    </div>
    <div class="wrap-title">
      <div class="block-logo">
        <v-icon color="white">fa fa-angle-right</v-icon>
      </div>
      <div class="block-title">
        <span class="ml-3">Thương hiệu nổi bật</span>
      </div>
      <div class="block-hot">
        <span>Sản phẩm hot</span>
      </div>
    </div>
    <div class="section-hot">
      <div class="wrap-content">
        <div class="wrap-slider">
          <v-carousel hide-delimiters height="300">
            <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
          </v-carousel>
        </div>
        <div class="wrap-logo">
          <div class="columns" v-for="item in getListLogo">
            <div class="column item" v-for="(item,i) in itemsLogo">
              <img :src="item"/>
            </div>
          </div>
        </div>
        <div class="wrap-slider">
          <v-carousel hide-delimiters height="300">
            <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
          </v-carousel>
        </div>
      </div>
    </div>
    <div class="wrap-title mt-5">
      <div class="block-logo">
        <v-icon color="white">fa fa-angle-right</v-icon>
      </div>
      <div class="block-title">
        <span class="ml-3">Máy Photocopy</span>
      </div>
      <div class="block-hot">
        <span>Sản phẩm hot</span>
      </div>
    </div>
    <div class="section-product">
      <div class="wrap-content">
        <div class="wrap-slider">
          <v-carousel hide-delimiters height="400">
            <v-carousel-item v-for="item in items">
              <!-- <v-carousel-item> -->
              <div class="product-item-slider">
                <div class="block-img">
                  <img
                    :src="machine"
                  />
                </div>
                <div class="block-info">
                  <span>Máy Photocopy</span>
                  <span>4990000đ</span>
                </div>
                <div class="block-buy">
                  <span>Mua Ngay</span>
                </div>
              </div>
            </v-carousel-item>
          </v-carousel>
        </div>
        <div class="wrap-product">
          <div class="columns" v-for="item in getListProduct">
            <div class="column item" v-for="(item,i) in itemsMachine">
              <div class="block-imgae">
                <img :src="item.img"/>
              </div>
              <div class="block-info">
                <span>{{item.name}}</span>
                <span>{{item.coast}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-brand">
          <div class="block-list">
            <span class="mt-1" v-for="item in items">Máy Photocopy Richoh</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-title mt-5">
      <div class="block-logo">
        <v-icon color="white">fa fa-angle-right</v-icon>
      </div>
      <div class="block-title">
        <span class="ml-3">Máy Fax</span>
      </div>
      <div class="block-hot">
        <span>Sản phẩm hot</span>
      </div>
    </div>
    <div class="section-product">
      <div class="wrap-content">
        <div class="wrap-slider">
          <v-carousel hide-delimiters height="400">
            <v-carousel-item v-for="item in items">
              <!-- <v-carousel-item> -->
              <div class="product-item-slider">
                <div class="block-img">
                  <img
                    :src="machine"
                  />
                </div>
                <div class="block-info">
                  <span>Máy Photocopy</span>
                  <span>4990000đ</span>
                </div>
                <div class="block-buy">
                  <span>Mua Ngay</span>
                </div>
              </div>
            </v-carousel-item>
          </v-carousel>
        </div>
        <div class="wrap-product">
          <div class="columns" v-for="item in getListProduct">
            <div class="column item" v-for="(item,i) in imgTotal.arrImgFax">
              <div class="block-imgae">
                <img :src="item.img"/>
              </div>
              <div class="block-info">
                <span>{{item.name}}</span>
                <span>{{item.coast}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-brand">
          <div class="block-list">
            <span class="mt-1" v-for="item in items">Máy Photocopy Richoh</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-title mt-5">
      <div class="block-logo">
        <v-icon color="white">fa fa-angle-right</v-icon>
      </div>
      <div class="block-title">
        <span class="ml-3">Máy IN</span>
      </div>
      <div class="block-hot">
        <span>Sản phẩm hot</span>
      </div>
    </div>
    <div class="section-product">
      <div class="wrap-content">
        <div class="wrap-slider">
          <v-carousel hide-delimiters height="400">
            <v-carousel-item v-for="item in items">
              <!-- <v-carousel-item> -->
              <div class="product-item-slider">
                <div class="block-img">
                  <img
                    :src="machine"
                  />
                </div>
                <div class="block-info">
                  <span>Máy Photocopy</span>
                  <span>4990000đ</span>
                </div>
                <div class="block-buy">
                  <span>Mua Ngay</span>
                </div>
              </div>
            </v-carousel-item>
          </v-carousel>
        </div>
        <div class="wrap-product">
          <div class="columns" v-for="item in getListProduct">
            <div class="column item" v-for="(item,i) in imgTotal.arrImgIN">
              <div class="block-imgae">
                <img :src="item.img"/>
              </div>
              <div class="block-info">
                <span>{{item.name}}</span>
                <span>{{item.coast}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-brand">
          <div class="block-list">
            <span class="mt-1" v-for="item in items">Máy Photocopy Richoh</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-title mt-5">
      <div class="block-logo">
        <v-icon color="white">fa fa-angle-right</v-icon>
      </div>
      <div class="block-title">
        <span class="ml-3">Máy Scan</span>
      </div>
      <div class="block-hot">
        <span>Sản phẩm hot</span>
      </div>
    </div>
    <div class="section-product">
      <div class="wrap-content">
        <div class="wrap-slider">
          <v-carousel hide-delimiters height="400">
            <v-carousel-item v-for="item in items">
              <!-- <v-carousel-item> -->
              <div class="product-item-slider">
                <div class="block-img">
                  <img
                    :src="machine"
                  />
                </div>
                <div class="block-info">
                  <span>Máy Photocopy</span>
                  <span>4990000đ</span>
                </div>
                <div class="block-buy">
                  <span>Mua Ngay</span>
                </div>
              </div>
            </v-carousel-item>
          </v-carousel>
        </div>
        <div class="wrap-product">
          <div class="columns" v-for="item in getListProduct">
            <div class="column item" v-for="(item,i) in imgTotal.arrImgScan">
              <div class="block-imgae">
                <img :src="item.img"/>
              </div>
              <div class="block-info">
                <span>{{item.name}}</span>
                <span>{{item.coast}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-brand">
          <div class="block-list">
            <span class="mt-1" v-for="item in items">Máy Photocopy Richoh</span>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-title mt-5">
      <div class="block-logo">
        <v-icon color="white">fa fa-angle-right</v-icon>
      </div>
      <div class="block-title">
        <span class="ml-3">Máy huỷ giấy</span>
      </div>
      <div class="block-hot">
        <span>Sản phẩm hot</span>
      </div>
    </div>
    <div class="section-product">
      <div class="wrap-content">
        <div class="wrap-slider">
          <v-carousel hide-delimiters height="400">
            <v-carousel-item v-for="item in items">
              <!-- <v-carousel-item> -->
              <div class="product-item-slider">
                <div class="block-img">
                  <img
                    :src="machine"
                  />
                </div>
                <div class="block-info">
                  <span>Máy Photocopy</span>
                  <span>4990000đ</span>
                </div>
                <div class="block-buy">
                  <span>Mua Ngay</span>
                </div>
              </div>
            </v-carousel-item>
          </v-carousel>
        </div>
        <div class="wrap-product">
          <div class="columns" v-for="item in getListProduct">
            <div class="column item" v-for="(item,i) in imgTotal.arrImgDestroyPage">
              <div class="block-imgae">
                <img :src="item.img"/>
              </div>
              <div class="block-info">
                <span>{{item.name}}</span>
                <span>{{item.coast}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-brand">
          <div class="block-list">
            <span class="mt-1" v-for="item in items">Máy Photocopy Richoh</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import HomeSlider from '@/components/HomePage/Slider';
  import chunk from 'lodash/chunk';
  import img from '../constant/images';

  export default {
    components: {
      HomeSlider,
    },
    computed: {
      getListLogo() {
        return chunk(this.logoBrand, 5);
      },
      getListProduct() {
        return chunk(this.logoProduct, 3);
      },
    },
    data() {
      return {
        items: [
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
          },
          {
            src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
          },
        ],
        itemsLogo: img.arrLogo,
        itemsMachine: img.arrImgMachine,
        machine:img.MACHINE_PHOTOCOPY,
        imgTotal:img,
        logoBrand: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 6, 7, 8, 9],
        logoProduct: [1, 2, 3, 4, 5, 6],
      };
    },
  };
</script>

<style lang="scss">
  .product-item-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    .block-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      justify-content: center;
      background: $lightRed;
      width: 100%;
    }

    .block-buy {
      padding: 10px;
      background: $lightBlack;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>

<style lang="scss" scoped>
  .wrap-home-page {
    .section-slider {
    }

    .wrap-title {
      display: flex;
      background: $red;
      text-transform: uppercase;
      color: white;

      .block-logo {
        flex-basis: 4%;
        display: flex;
        justify-content: center;
        background: $darkRed;
        padding: 10px 0px;
      }

      .block-title {
        flex-basis: 76%;
        padding: 10px 0px;
      }

      .block-hot {
        flex-basis: 20%;
        padding: 10px 0px;
        background: $black;
        display: flex;
        justify-content: center;
      }
    }

    .section-hot {
      .wrap-content {
        display: flex;

        .wrap-slider {
          flex-basis: 20%;
        }

        .wrap-logo {
          flex-basis: 60%;

          .item {
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid transparent;

            img {
              width: calc(100% - 2px);
            }
          }

          .item:hover {
            border: 1px solid $red;
          }
        }
      }
    }

    .section-product {
      .wrap-content {
        display: flex;

        .wrap-slider {
          flex-basis: 30%;
        }

        .wrap-product {
          flex-basis: 50%;
          padding: 2px;

          .columns:not(:last-child) {
            margin-bottom: 0px;
          }

          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: gainsboro;
            margin: 2px;

            .block-info {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;

              span {
                text-align: center;
              }
            }
          }
        }

        .wrap-brand {
          flex-basis: 20%;
          background: gainsboro;
          padding: 15px 15px;

          .block-list {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
</style>;
