<template>
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="block-heading block-heading-red">
                    <h4 class="name">
                        <span class="heading-icon">
                            <i class="fa fa-caret-right icon-design"></i>
                            <i class="fa fa-fire"></i>
                        </span>
                        Thương hiệu nổi bật
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="block-heading block-heading-dark block-heading-no-icon">
                    <h4 class="name">
                        <span class="heading-icon"></span>Sản phẩm hot
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 nopadding">
            <img src="../image/baner_plustek_ad480.jpg" />
        </div>
        <div class="col-md-6 nopadding">
            <ul class="logo">
                <li class="item-logo" v-for="(image,index) in images">
                    <a href="#">
                        <img :src="image.src" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 nopadding">
            <img src="../image/baner_plustek_ad480.jpg" />
        </div>
    </div>
</section>
</template>

<script>
import SonyLogo from '@/image/Sony-logo.jpg';
export default {
    data() {
        return {
            images: [{
                    src: SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
                {
                    src:  SonyLogo
                },
            ]
        }
    }
};
</script>

<style lang="scss" scoped>
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.block-heading-red {
    background: #DA251C !important;
    width: 100%;
}

.block-heading-dark {
    background: #232323 !important;
    width: 100%;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    height: 100%;
    align-items: center;

    .item-logo {
        width: calc(100% / 5);
        text-align: center;
        padding: 10px 15px;
        position: relative;

        &:before {
            height: 90%;
            width: 95%;
            background: transparent;
            position: absolute;
            top: 3px;
            left: 3px;
            right: 5px;
            bottom: 5px;
            content: "";
            border: 1px solid transparent;
        }

        &:hover:before {
            border-color: #DA251C;
        }

        img {
            height: 50px;
            width: 100px;
        }
    }
}

.block-heading {
    background: #efefef;
    height: 50px;

    .heading-icon {
        background: rgba(0, 0, 0, .2);
        width: 50px;
        text-align: center;
        margin-right: 20px;
        display: inline-block;
        border-radius: 3px 0 0 3px;
        position: relative;

        .icon-design {
            color: rgba(0, 0, 0, .1);
            font-size: 20px;
            position: absolute;
            right: -7px;
            top: 16px;
        }
    }

    .name {
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 700;
        line-height: 50px;
    }
}
</style>
