<template>
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="block-heading block-heading-red">
                    <h4 class="name">
                        <span class="heading-icon">
                            <i class="fa fa-caret-right icon-design"></i>
                            <i class="fa vector fa-photo"></i>
                        </span>
                        Máy Photocopy
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="block-heading block-heading-dark block-heading-no-icon">
                    <h4 class="name">
                        <span class="heading-icon"></span>Thương Hiệu
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 nopadding product">
            <a class="center-block" href="#">
                <figure class="left-block"><img class="img-responsive" alt="Máy photocopy Fuji Xerox DocuCentre S2011 CPS" src="../image/May in Fuji Xerox DocuPrint P225 db.jpg" status="Ngừng sản xuất"></figure>
                <div class="right-block">
                    <h3 class="ProductName">Máy photocopy Fuji Xerox DocuCentre S2011 CPS</h3>
                    <div class="star-rating"><span style="width:100%"></span></div>
                    <div class="content_price">
                        <b class="ProductPriceNew" data="20900000">20,900,000<span>₫</span></b>
                        <!-- <span class="ProductPriceVirtual">22,900,000<span>₫</span></b> -->
                        <!-- <span class="sale-price">-9<sup>%</sup></span> -->
                    </div>
                </div>
            </a>
            <button class="OrderProductButton btn btn-sm" title="Mua ngay"><span>Mua ngay</span></button>
        </div>
        <div class="col-md-5 nopadding product-center">

            <div class="col-md-4 home-product nopadding">
                <a class="center-block" href="#">
                    <!-- <div class="hidden">
                                <span class="ProductSerial">DCV3060CPS</span>
                            </div> -->
                    <figure class="left-block">
                        <span class="flag-status flag-status-hot ">Bán chạy</span>
                        <span class="middle">
                            <img class="img-responsive" status="Bán chạy" src="../image/print.jpg" style="display: block;">
                        </span></figure>
                    <div class="right-block">
                        <h3 class="ProductName">Máy photocopy Fuji Xerox DocuCentre-V 3060 CPS</h3>
                        <div class="content_price">
                            <b class="ProductPriceNew" data="54900000">54,900,000₫</b>
                            <b class="ProductPriceVirtual">49,900,000₫</b>
                        </div>
                    </div>
                </a>
                <button class="OrderProductButton btn btn-sm" title="Mua ngay">
                    <span>Mua ngay</span>
                </button>
            </div>
            <div class="col-md-4 home-product nopadding">
                <a class="center-block" href="#">
                    <!-- <div class="hidden">
                                <span class="ProductSerial">DCV3060CPS</span>
                            </div> -->
                    <figure class="left-block">
                        <span class="flag-status flag-status-hot ">Bán chạy</span>
                        <span class="middle">
                            <img class="img-responsive" status="Bán chạy" src="../image/print.jpg" style="display: block;">
                        </span></figure>
                    <div class="right-block">
                        <h3 class="ProductName">Máy photocopy Fuji Xerox DocuCentre-V 3060 CPS</h3>
                        <div class="content_price">
                            <b class="ProductPriceNew" data="54900000">54,900,000₫</b>
                            <b class="ProductPriceVirtual">49,900,000₫</b>
                        </div>
                    </div>
                </a>
                <button class="OrderProductButton btn btn-sm" title="Mua ngay">
                    <span>Mua ngay</span>
                </button>
            </div>
            <div class="col-md-4 home-product nopadding">
                <a class="center-block" href="#">
                    <!-- <div class="hidden">
                                <span class="ProductSerial">DCV3060CPS</span>
                            </div> -->
                    <figure class="left-block">
                        <span class="flag-status flag-status-hot ">Bán chạy</span>
                        <span class="middle">
                            <img class="img-responsive" status="Bán chạy" src="../image/print.jpg" style="display: block;">
                        </span></figure>
                    <div class="right-block">
                        <h3 class="ProductName">Máy photocopy Fuji Xerox DocuCentre-V 3060 CPS</h3>
                        <div class="content_price">
                            <b class="ProductPriceNew" data="54900000">54,900,000₫</b>
                            <b class="ProductPriceVirtual">49,900,000₫</b>
                        </div>
                    </div>
                </a>
                <button class="OrderProductButton btn btn-sm" title="Mua ngay">
                    <span>Mua ngay</span>
                </button>
            </div>

            <div class="col-md-4 home-product nopadding">
                <a class="center-block" href="#">
                    <!-- <div class="hidden">
                                <span class="ProductSerial">DCV3060CPS</span>
                            </div> -->
                    <figure class="left-block">
                        <span class="flag-status flag-status-hot ">Bán chạy</span>
                        <span class="middle">
                            <img class="img-responsive" status="Bán chạy" src="../image/print.jpg" style="display: block;">
                        </span></figure>
                    <div class="right-block">
                        <h3 class="ProductName">Máy photocopy Fuji Xerox DocuCentre-V 3060 CPS</h3>
                        <div class="content_price">
                            <b class="ProductPriceNew" data="54900000">54,900,000₫</b>
                            <b class="ProductPriceVirtual">49,900,000₫</b>
                        </div>
                    </div>
                </a>
                <button class="OrderProductButton btn btn-sm" title="Mua ngay">
                    <span>Mua ngay</span>
                </button>
            </div>
            <div class="col-md-4 home-product nopadding">
                <a class="center-block" href="#">
                    <!-- <div class="hidden">
                                <span class="ProductSerial">DCV3060CPS</span>
                            </div> -->
                    <figure class="left-block">
                        <span class="flag-status flag-status-hot ">Bán chạy</span>
                        <span class="middle">
                            <img class="img-responsive" status="Bán chạy" src="../image/print.jpg" style="display: block;">
                        </span></figure>
                    <div class="right-block">
                        <h3 class="ProductName">Máy photocopy Fuji Xerox DocuCentre-V 3060 CPS</h3>
                        <div class="content_price">
                            <b class="ProductPriceNew" data="54900000">54,900,000₫</b>
                            <b class="ProductPriceVirtual">49,900,000₫</b>
                        </div>
                    </div>
                </a>
                <button class="OrderProductButton btn btn-sm" title="Mua ngay">
                    <span>Mua ngay</span>
                </button>
            </div>
            <div class="col-md-4 home-product nopadding">
                <a class="center-block" href="#">
                    <!-- <div class="hidden">
                                <span class="ProductSerial">DCV3060CPS</span>
                            </div> -->
                    <figure class="left-block">
                        <span class="flag-status flag-status-hot ">Bán chạy</span>
                        <span class="middle">
                            <img class="img-responsive" status="Bán chạy" src="../image/print.jpg" style="display: block;">
                        </span></figure>
                    <div class="right-block">
                        <h3 class="ProductName">Máy photocopy Fuji Xerox DocuCentre-V 3060 CPS</h3>
                        <div class="content_price">
                            <b class="ProductPriceNew" data="54900000">54,900,000₫</b>
                            <b class="ProductPriceVirtual">49,900,000₫</b>
                        </div>
                    </div>
                </a>
                <button class="OrderProductButton btn btn-sm" title="Mua ngay">
                    <span>Mua ngay</span>
                </button>
            </div>
        </div>
        <div class="col-md-3 nopadding">
            <ul class="brand-relate">
                <li>
                    <a href="#">
                        Máy Photocopy Fuji Xerox (134)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Máy Photocopy Fuji Xerox (134)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Máy Photocopy Fuji Xerox (134)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Máy Photocopy Fuji Xerox (134)
                    </a>
                </li>
                <li>
                    <a href="#">
                        Máy Photocopy Fuji Xerox (134)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.product-center{
    display: flex;
    flex-wrap: wrap;
}
.home-product {
    &:before {
        background: #eee;
        content: "";
        height: 85%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0px, -50%);
        -moz-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
        -o-transform: translate(0px, -50%);
        -webkit-transform: translate(0px, -50%);
        width: 1px;
    }

    background: #fff;
    padding: 0;
    position: relative;
    overflow: hidden;
    border: 1px solid transparent;
    border-bottom: none;

    &:hover {
        .OrderProductButton {
            display: block;
            bottom: 0;
        }
    }

    figure {
        height: 160px;
        pointer-events: none;
        position: relative;
        margin: 0;

        .middle {
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }
    }

    a {
        display: block;
        height: 100%;
        width: 100%;
        cursor: pointer;
        text-decoration: none;
    }

    .flag-status-hot {
        background-image: url("../image/hot.png");
    }

    .flag-status {
        background-repeat: no-repeat;
        background-size: auto 30px;
        background-position: 3px 0;
        color: #ffffff;
        font-size: 8px;
        font-weight: 700;
        height: 36px;
        left: 1px;
        line-height: 10px;
        margin-top: 0;
        padding: 3px 0 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 1px;
        width: 37px;
        z-index: 99;
    }

    .OrderProductButton {
        width: 100%;
        position: absolute;
        left: 50%;
        right: 0;
        bottom: -40px;
        text-align: center;
        line-height: 40px;
        transition: all 0.45s ease;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -webkit-transition: all 0.45s ease;
        background-color: #DA251C !important;
        background: #DA251C !important;
        color: #fff;
        text-transform: uppercase;
        padding: 0;
        border: none;
        border-radius: unset;
        z-index: 10;
        overflow: hidden;

        span {
            position: relative;
            padding-left: 35px;

            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                height: 20px;
                width: 30px;
                content: "";
                background: url("../image/cart.png") no-repeat;
            }
        }
    }

    .right-block {
        background: #f1f1f1;
        padding: 5px 10px;
        text-align: center;
        position: relative;
        z-index: 9;
        overflow: hidden;

        .ProductName {
            font-size: 14px;
            color: #343434;
            line-height: 1.4;
            display: block;
            height: 40px;
            overflow: hidden;
        }

        .content_price {
            display: inline-block;
            line-height: 1.2;
            position: relative;
            height: 45px;
        }

        .Home-Product .ProductPriceNew,
        .Home-Product .ProductPriceVirtual {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .ProductPriceNew {
            display: block;
            margin: 0;
            color: #DA251C;
            font-size: 18px;
            font-weight: 400;
            font-family: arial;
        }
    }
}

.clearfix {
    clear: both;
    display: table;
    content: " ";
}

.product {
    background: #eee;
    text-align: center;

    figure {
        height: 300px;
        margin: 10px 0;
        position: relative;
        text-align: center;
        pointer-events: none;
    }

    .right-block {
        padding: 15px 15px 55px;
        background: #e74a42;
        position: relative;
        height: 190px;

        .ProductName {
            color: #fff;
            font: 700 16px/1.45 arial;
            padding: 0 10px;
            display: block;
            text-align: center;
            height: 50px;
            overflow: hidden
        }

        .star-rating {
            font-family: "FontAwesome";
            font-size: 13px;
            height: 1em;
            line-height: 1;
            overflow: hidden;
            position: relative;
            width: 74px;
            letter-spacing: 3px;
            display: block;
            margin: 5px auto;

            &:before {
                color: #b5b5b5;
                content: "\f005\f005\f005\f005\f005";
                float: left;
                left: 0;
                position: absolute;
                top: 0;
            }

            span {
                float: left;
                left: 0;
                overflow: hidden;
                padding-top: 1.5em;
                position: absolute;
                top: 0;

                &:before {
                    content: "\f005\f005\f005\f005\f005";
                    left: 0;
                    position: absolute;
                    top: 0;
                    color: #FDBF18;
                }
            }
        }

        .content_price {
            display: inline-block;
            line-height: 1.2;
            position: relative;

            .ProductPriceNew {
                color: yellow;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
                font-weight: 400;
                font-size: 20px;
                font-family: Helvetica Inserat;
            }
        }
    }

    .OrderProductButton {
        width: 100%;
        position: absolute;
        left: 50%;
        right: 0;
        bottom: 0px;
        text-align: center;
        line-height: 40px;
        -moz-transition: all 0.45s ease;
        -webkit-transition: all 0.45s ease;
        -o-transition: all 0.45s ease;
        -ms-transition: all 0.45s ease;
        transition: all 0.45s ease;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        background-color: #2A363F;
        color: #fff;
        text-transform: uppercase;
        padding: 0;
        border: none;
        border-radius: unset;

        span {
            position: relative;
            padding-left: 35px;

            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                height: 20px;
                width: 30px;
                content: "";
                background: url("../image/cart.png") no-repeat;
            }
        }
    }
}

.brand-relate {
    padding: 10px 15px;
    margin-bottom: 0;
    background: #eee;
    height: 100%;

    li {
        margin-top: 10px;

        a {
            font-size: 13px;
            color: #353535;
            text-decoration: none;

            &:hover {
                color: #DA251C;
            }
        }
    }
}

.block-heading-red {
    background: #DA251C !important;
    width: 100%;
}

.block-heading-dark {
    background: #232323 !important;
    width: 100%;
}

.block-heading {
    background: #efefef;
    height: 50px;

    .heading-icon {
        background: rgba(0, 0, 0, .2);
        width: 50px;
        text-align: center;
        margin-right: 20px;
        display: inline-block;
        border-radius: 3px 0 0 3px;
        position: relative;

        .icon-design {
            color: rgba(0, 0, 0, .1);
            font-size: 20px;
            position: absolute;
            right: -7px;
            top: 16px;
        }
    }

    .name {
        text-transform: uppercase;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: 700;
        line-height: 50px;
    }
}
</style>
