<template>
<footer class="footer">
    <div id="Footer" class="footer">
        <div class="ftop">
            <div class="container">
                <div class="row">
                    <div class="left col-md-4">
                        <h4 class="caps light">
                            <strong>Tư vấn bán hàng</strong>
                        </h4>
                        <h3>
                            (028) 3920 8022
                        </h3>
                    </div>
                    <!-- end left -->
                    <div class="right col-md-6 ml-auto">
                        <p>
                            Nhập email để nhận thông tin khuyến mãi từ Trung Việt Hưng
                        </p>
                        <input class="newsle_eminput" id="samplees" name="samplees" placeholder="Địa chỉ Email" type="text"> <a class="input_submit" data-target="#myModal" data-toggle="modal" href="javascript:void(0)">Đăng ký</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end top section -->
        <div class="clearfix"></div>
        <div class="secarea">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-2">
                        <h4 class="white">Sản phẩm</h4>
                        <ul class="foolist">
                            <li>
                                <a href="may-photocopy.html" title="Máy Photocopy">Máy Photocopy</a>
                            </li>
                            <li>
                                <a href="may-fax.html" title="Máy Fax">Máy Fax</a>
                            </li>
                            <li>
                                <a href="may-in.html" title="Máy In">Máy In</a>
                            </li>
                            <li>
                                <a href="may-scan.html" title="Máy Scan">Máy Scan</a>
                            </li>
                            <li>
                                <a href="muc-in.html" title="Mực In">Mực In</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
                    <div class="col-sm-6 col-md-4">
                        <h4 class="white">Chính sách</h4>
                        <ul class="foolist">
                            <li>
                                <a href="thong-tin/quy-dinh-va-hinh-thuc-thanh-toan-1097.html" rel="nofollow" title="Quy định và hình thức thanh toán">
                                    Quy định và hình thức thanh
                                    toán
                                </a>
                            </li>
                            <li>
                                <a href="thong-tin/chinh-sach-van-chuyen-giao-nhan-hang-hoa-1098.html" rel="nofollow" title="Chính sách vận chuyển, giao nhận hàng hóa">
                                    Chính sách
                                    vận chuyển, giao nhận hàng hóa
                                </a>
                            </li>
                            <li>
                                <a href="thong-tin/chinh-sach-bao-hanh-san-pham-1099.html" rel="nofollow" title="Chính sách bảo hành sản phẩm ">Chính sách bảo hành sản phẩm</a>
                            </li>
                            <li>
                                <a href="thong-tin/chinh-sach-doi-va-tra-hang-1100.html" rel="nofollow" title="Chính sách đổi và trả hàng">Chính sách đổi và trả hàng</a>
                            </li>
                            <li>
                                <a href="thong-tin/chinh-sach-bao-mat-thong-tin-khach-hang-1104.html" rel="nofollow" title="Chính sách bảo mật thông tin khách hàng">
                                    Chính sách
                                    bảo mật thông tin khách hàng
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
                    <div class="col-sm-6 col-md-2">
                        <h4 class="white">Về chúng tôi</h4>
                        <ul class="foolist">
                            <li>
                                <a href="/thong-tin/gioi-thieu-93.html" rel="nofollow" title="Giới thiệu">
                                    Giới
                                    thiệu
                                </a>
                            </li>
                            <li>
                                <a href="/tuyen-dung.html" rel="nofollow" title="Tuyển dụng">Tuyển dụng</a>
                            </li>
                            <li>
                                <a href="/tin-tuc.html" rel="nofollow" title="Tin tức">Tin tức</a>
                            </li>
                            <li>
                                <a href="/video.html" rel="nofollow">Video</a>
                            </li>
                            <li>
                                <a href="/thong-tin/lien-he-1.html" rel="nofollow" title="Liên hệ">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix hidden-sm hidden-md hidden-lg"></div>
                    <div class="col-sm-6 col-md-4 last aliright">
                        <div class="address">
                            <h4>Quốc Huy</h4>
                            <br />Tân Thới Nhì, Hóc Môn, Tp.HCM
                            <br />Hotline:
                            <strong>093 419 3416</strong>
                            <br />Điện thoại:
                            <strong>093 419 3416.</strong>
                            <br />Fax:
                            <strong>093 419 3416</strong>
                            <br />Email:
                            <a href="mailto:huydinhquoc7@gmail.com" rel="nofollow">huydinhquoc7@gmail.com</a>
                            <div class="clearfix"></div>
                            <ul class="ft-social">
                                <li class="spec">
                                    <a href="#" rel="nofollow" target="_blank" title="Đăng ký bộ công thương">
                                        <img alt="Đăng ký bộ công thương" src="../image/seal_tmdt.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" rel="nofollow" target="_blank">
                                        <img alt="Facebook" src="../image/facebook.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" rel="nofollow" title="Theo dõi chúng tôi trên Twitter">
                                        <img src="../image/twitter.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" rel="nofollow" target="_blank" title="Theo dõi chúng tôi trên Youtube">
                                        <img src="../image/youtube.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#" rel="nofollow" target="_blank" title="Theo dõi chúng tôi trên Google +">
                                        <img src="../image/google-plus.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="container-fluid fbottom">
            <div class="container">
                <h4>
                    Giấy chứng nhận
                    <img alt src="../image/giai thuong (1).png" />
                </h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="copyrights">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        Website thuộc sở hữu : Quốc Huy
                        <br />Từ khóa nổi bật:
                        <a href="https://trungviethung.vn/">máy photocopy canon</a>,
                        <a href="https://trungviethung.vn/">máy in canon</a>
                        <br />
                        <br />
                    </div>
                    <div class="col-sm-6 last aliright">
                        Copyright © 2016 QuocHuy. All rights reserved.
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</template>

<script>


export default {
    
};
</script>

<style lang="scss" scoped>
.footer {
    float: left;
    width: 100%;
    margin-top: 20px;

    .ftop {
        float: left;
        width: 100%;
        height: 130px;
        background: url("../image/footer-img1.png") no-repeat center top;

        .left {
            float: left;
            width: 33.1%;
            margin-top: 32px;
            text-align: right;

            h4 {
                margin-bottom: 5px;
                display: block;
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 0;
            }

            h3 {
                color: #da251c;
                font-size: 45px;
                font-weight: 900;
                letter-spacing: 1px;
                white-space: nowrap;
            }
        }

        .right {
            float: right;
            width: 50%;
            margin-top: 35px;

            p {
                color: #fff;
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 11px;
            }

            .newsle_eminput {
                float: left;
                padding: 3px 0px 4px 20px;
                height: 50px;
                width: 75%;
                background: #fff;
                border-radius: 3px;
                border: none;
                color: #727272;
                font-size: 14px;
            }

            .input_submit {
                float: left;
                padding: 15px 30px;
                background-color: #7f868c;
                border: 0px;
                font-size: 14px;
                font-weight: 500;
                color: #fff;
                text-transform: uppercase;
                transition: all 0.3s ease;
                border-radius: 3px;
                margin-left: 12px;
            }

            .input_submit:hover {
                color: #86c724;
                cursor: pointer;
                background-color: #fff;
            }
        }

    }
}
a{
    text-decoration: none;
}
.ft-social {
    display: table;
    margin: 10px 0;
    padding: 0;
    float: right;

    li {
        margin-right: 5px;
        list-style: none !important;
        float: left;
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }

        a {
           
            img {
                border: 1px solid rgba(0, 0, 0, 0);
            }

            &:hover {
                img {
                    border-radius: 0;
                    transition: all 300ms ease 100ms;
                    -moz-transition: all 300ms ease 100ms;
                    -webkit-transition: all 300ms ease 100ms;
                    border: 1px solid #fff;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    -webkit-border-radius: 50%;
                }
            }
        }
    }

    .spec img {
        max-height: 36px;
        width: auto !important;
    }
}

.ft-social li.spec a:hover img {
    border-radius: 0;
    border-color: transparent;
}

.fbottom {
    background: #eaeaea;
    padding: 10px 0;
    border-top: 1px solid #2a363f;
}
.fbottom h4 {
   margin-bottom: 14px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
   
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5 {
    display: inline;
}

.footer .secarea {
    float: left;
    width: 100%;
    padding: 25px 0 20px;
    background: #eaeaea;
}

.footer .secarea h4 {
    margin-bottom: 14px;
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.footer ul.foolist {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
    color: #1c2329;
}

.footer .foolist li {
    padding: 4px 0px;
    margin: 0px;
    list-style: inside;
}

.footer .foolist li a {
    color: #333;
    transition: all 0.3s ease;
}

.footer .foolist li a:hover {
    color: #da251c;
}

.footer .secarea .address {
    float: left;
    width: 100%;
    color: #333;
    text-align: right;
}

.footer .secarea .address b {
    color: #333;
    font-weight: normal;
}

.footer .secarea .address a {
    color: #333;
    transition: all 0.3s ease;
}

.footer .secarea .address a:hover {
    color: #da251c;
}

.footer .secarea .address a.smbut {
    font-size: 12px;
    color: #999;
    transition: all 0.3s ease;
}

.footer .secarea .address a.smbut:hover {
    color: #fff;
}

.copyrights {
    float: left;
    width: 100%;
    background: #1c2329;
    padding: 20px 0 40px;
    color: #8e9194;
    font-size: 13px;
}

.copyrights a {
    color: #8e9194;
    padding: 0px 5px;
    transition: all 0.3s ease;
}

.copyrights .aliright.last a {
    color: #fff;
}

.copyrights a:hover {
    color: #fff;
}

.copyrights .aliright {
    text-align: right;
}

.white {
    background: none !important;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.clearfix:before {
    content: "";
    clear: both;
    display: table;
}
</style>;
