<template>
<header class="container-fluid" id="header-full">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div id="Logo" class="Logo row">
                    <div class="new-logo" itemscope="" itemtype="http://schema.org/Organization"><a href="/" itemprop="url" title="Trung Việt Hưng - Thiết bị máy văn phòng"><img alt="Trung Việt Hưng - Thiết bị máy văn phòng" itemprop="logo" longdesc="Trung Việt Hưng - Thiết bị máy văn phòng" src="../image/thietbimayvanphong_vn.png" title="Trung Việt Hưng - Thiết bị máy văn phòng" /></a></div>
                </div>
                <a href="#mobile-menu" class="navbar-toggle collapsed hidden-md hidden-lg" type="button"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
                <a style="right:0;left:auto" href="#wraper-tool" class="navbar-toggle collapsed hidden-md hidden-lg" type="button"><span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></a>
            </div>
            <div id="wraper-tool" class="hidden-xs hidden-sm col-xs-12 col-md-9 col-lg-9">
                <div class="row">
                    <div id="Control-Seach" class="col-sm-12 col-md-6 col-lg-6 clearfix">
                        <div id="Search">
                            <div class="searchBar"><input class="search-query form-control input-sm" id="Search-Keyword-Product" placeholder="Tìm kiếm theo sản phẩm hoặc nhãn hàng?" type="text" /> <a class="searchButton" href="javascript:;" id="Search-Button-Product"> </a>
                                <div class="autocomplete-suggestions">
                                    <div class="row"></div>
                                    <a class="CloseSearchAjax close" href="javascript:void(0)" style="display: none;" title="Đóng"><span aria-hidden="true">×</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Control-Header-Order" class="col-sm-12 col-md-2 col-lg-2">
                        <div id="Header-Order">0</div>
                    </div>
                    <div class="clearfix hidden-md hidden-lg"></div>
                    <div id="Control-Header-Hotline" class="col-sm-12 col-md-4 col-lg-4">
                        <div id="Header-Hotline" class="header-hotline"><a href="tel:+842839208022" rel="nofollow" title="Gọi ngay (08) 3920 8022">(028) 3920 8022</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
#header-full {
    display: block;
    margin: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px
}

.Logo img {
    max-height: 67px
}

#header-full {
    display: block;
    margin: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

#Control-Seach,
#Control-Header-Order,
#Control-Header-Hotline {
    margin-top: 15px;
}

#Search {
    margin-top: 0;
}

.searchBar {
    background-color: #fff;
    position: relative;
}

.searchBar,
.searchBar input {
    width: 100%;
}

.searchBar input {
    font-size: 12px;
    background: #fff;
    border-color: #F3152B;
    border-width: 1px 0 1px 1px;
    height: 40px;
    padding-bottom: 0;
    padding-top: 0;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    float: left;
}

.searchBar>a {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    border: 1px solid #F3152B;
    border-left: none;
    z-index: 1;
    margin-left: -1px;
    border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    -ms-border-radius: 0 0 0 0;
    -o-border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
}

.searchBar>a:after {
    content: "\f002";
    font-family: "FontAwesome";
    position: absolute;
    left: 0;
    top: 5px;
    height: 100%;
    width: 100%;
    color: #F3152B;
    text-align: center;
    font-size: 20px;
}

#Header-Order {
    cursor: pointer;
    display: inline-table;
    font-size: 15px;
    padding: 0 0 0 95px;
    position: relative;
    float: right;
    width: 100%;
}

#Header-Order:before {
    content: "Giỏ hàng";
    position: absolute;
    left: 0;
    top: 50%;
    height: 25px;
    width: 100%;
    background: url("../image/cart.png") no-repeat;
    padding: 3px 0 0 30px;
    font: 400 15px/1.3 Arial, sans-serif;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#Control-Header-Order {
    text-align: left;
    background: #da251c;
    height: 40px;
    line-height: 40px;
    color: #fff;
}

#Header-Hotline {
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    background: #DA251C;

    a {
        color: #fff;
        text-transform: uppercase;
        position: relative;
        padding-left: 55px;
        font-size: 22px;
        font-weight: 700;

        &:before {
            content: "\f095";
            font-family: "FontAwesome";
            color: #fff;
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            width: 45px;
            text-align: center;
            height: 40px;
            background: rgba(0, 0, 0, 0.2);
        }
    }
}
</style>
