<template>
<section class="main-content-bottom container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-4" id="Control-Home-News-Latest">
                <div id="Home-News-Latest">
                    <div class="Home-News-Latest">
                        <header>
                            <h3 class="news-title"><i></i> TIN MỚI CẬP NHẬT</h3>
                        </header>
                        <div class="clearfix"><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="EPSON RA MẮT THỊ TRƯỜNG VIỆT NAM MẪU MÁY IN VĂN PHÒNG TỐC ĐỘ CAO" href="#">
                                <figure class="imageLinkWrapper Picture col-xs-12 col-sm-3 col-md-3"><img class="img-responsive" src="../image/4(7).jpg" alt="EPSON RA MẮT THỊ TRƯỜNG VIỆT NAM MẪU MÁY IN VĂN PHÒNG TỐC ĐỘ CAO" />
                                </figure>
                                <div class="assetText col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>EPSON RA MẮT THỊ TRƯỜNG VIỆT NAM MẪU MÁY IN VĂN PHÒNG TỐC ĐỘ CAO
                                        </h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        18/09/2019</span> <span class="Visit"> - 65 lượt xem</span>
                                </div>
                            </a><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="ĐÁNH GIÁ MÁY IN CANON MF426dw" href="#">
                                <figure class="imageLinkWrapper Picture col-xs-12 col-sm-3 col-md-3"><img class="img-responsive" src="../image/d(3).jpg" alt="ĐÁNH GIÁ MÁY IN CANON MF426dw" /></figure>
                                <div class="assetText col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>ĐÁNH GIÁ MÁY IN CANON MF426dw</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        14/09/2019</span> <span class="Visit"> - 258 lượt xem</span>
                                </div>
                            </a><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="GIỚI THIỆU MÁY IN ĐA CHỨC NĂNG HP NEVERSTOP LASER MFP 1200W" href="#">
                                <figure class="imageLinkWrapper Picture col-xs-12 col-sm-3 col-md-3"><img class="img-responsive" src="../image/HP.jpg" alt="GIỚI THIỆU MÁY IN ĐA CHỨC NĂNG HP NEVERSTOP LASER MFP 1200W" />
                                </figure>
                                <div class="assetText col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>GIỚI THIỆU MÁY IN ĐA CHỨC NĂNG HP NEVERSTOP LASER MFP 1200W</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        30/08/2019</span> <span class="Visit"> - 368 lượt xem</span>
                                </div>
                            </a><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="MÁY IN LIÊN TỤC HP LASER NEVERSTOP - ĐỒNG HÀNH CÙNG STARTUP" href="#">
                                <figure class="imageLinkWrapper Picture col-xs-12 col-sm-3 col-md-3"><img class="img-responsive" src="../image/HP.jpg" alt="MÁY IN LIÊN TỤC HP LASER NEVERSTOP - ĐỒNG HÀNH CÙNG STARTUP" />
                                </figure>
                                <div class="assetText col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>MÁY IN LIÊN TỤC HP LASER NEVERSTOP - ĐỒNG HÀNH CÙNG STARTUP</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        23/08/2019</span> <span class="Visit"> - 493 lượt xem</span>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4" id="Control-Home-News-Video">
                <div id="Home-News-Video" class="block-news-video">
                    <div class="Home-News-Video">
                        <header>
                            <h3 class="news-title"><i></i> VIDEO MỚI CẬP NHẬT</h3>
                        </header>
                        <div class="clearfix"><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="Video giới thiệu máy scan Fujitsu iX1500" href="video/video-gioi-thieu-may-scan-fujitsu-ix1500-6293.html">
                                <figure style="height:auto" class="imageLinkWrapper News-Video Picture col-xs-12 col-sm-3 col-md-3">
                                    <img class="img-responsive image-youtube" src="../image/4(7).jpg" alt="Video giới thiệu máy scan Fujitsu iX1500" /></figure>
                                <div style="padding-left:10px" class="col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>Video giới thiệu máy scan Fujitsu iX1500</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        16/03/2019</span> <span class="Visit"> - 526 lượt xem</span>
                                </div>
                            </a><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="Video giới thiệu máy in Canon G1010 G2010 G3010 G4010" href="video/video-gioi-thieu-may-in-canon-g1010-g2010-g3010-g4010-6279.html">
                                <figure style="height:auto" class="imageLinkWrapper News-Video Picture col-xs-12 col-sm-3 col-md-3">
                                    <img class="img-responsive image-youtube" src="../image/4(7).jpg" alt="Video giới thiệu máy in Canon G1010 G2010 G3010 G4010" />
                                </figure>
                                <div style="padding-left:10px" class="col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>Video giới thiệu máy in Canon G1010 G2010 G3010 G4010</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        24/11/2018</span> <span class="Visit"> - 817 lượt xem</span>
                                </div>
                            </a><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="Video giới thiệu máy scan Canon DR-M260" href="video/video-gioi-thieu-may-scan-canon-dr-m260-6278.html">
                                <figure style="height:auto" class="imageLinkWrapper News-Video Picture col-xs-12 col-sm-3 col-md-3">
                                    <img class="img-responsive image-youtube" src="../image/4(7).jpg" alt="Video giới thiệu máy scan Canon DR-M260" /></figure>
                                <div style="padding-left:10px" class="col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>Video giới thiệu máy scan Canon DR-M260</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        24/11/2018</span> <span class="Visit"> - 914 lượt xem</span>
                                </div>
                            </a><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="Video giới thiệu máy scan khổ lớn ROWE Scan 450i" href="video/video-gioi-thieu-may-scan-kho-lon-rowe-scan-450i-6220.html">
                                <figure style="height:auto" class="imageLinkWrapper News-Video Picture col-xs-12 col-sm-3 col-md-3">
                                    <img class="img-responsive image-youtube" src="../image/4(7).jpg" alt="Video giới thiệu máy scan khổ lớn ROWE Scan 450i" /></figure>
                                <div style="padding-left:10px" class="col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>Video giới thiệu máy scan khổ lớn ROWE Scan 450i</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        04/09/2017</span> <span class="Visit"> - 1925 lượt xem</span>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4" id="Control-Home-Banner-Bottom">
                <div id="Home-News-Promotion" class="Home-News-Latest">
                    <div class="Home-News-Promotion">
                        <header>
                            <h3 class="news-title"><i></i> TIN KHUYẾN MÃI</h3>
                        </header>
                        <div class="clearfix"><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="Khuyến mãi Xuân Kỷ Hợi 2019-Tân Niên Mua Sắm Ngập Tràn Lì Xì Khủng" href="tin-khuyen-mai/khuyen-mai-xuan-ky-hoi-2019-tan-nien-mua-sam-ngap-tran-li-xi-khung-6289.html">
                                <figure style="height:auto;" class="imageLinkWrapper Picture col-xs-12 col-sm-3 col-md-3"><img class="img-responsive" src="../image/trung-viet-hung-khuyen-mai-tan-nien-2019.png" alt="Khuyến mãi Xuân Kỷ Hợi 2019-Tân Niên Mua Sắm Ngập Tràn Lì Xì Khủng" />
                                </figure>
                                <div style="padding-left:10px" class="col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>Khuyến mãi Xuân Kỷ Hợi 2019-Tân Niên Mua Sắm Ngập Tràn Lì Xì
                                            Khủng</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        09/02/2019</span> <span class="Visit"> - 1062 lượt xem</span>
                                </div>
                            </a><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="Khuyến mãi Mực in laser cao cấp iziNet " href="tin-khuyen-mai/khuyen-mai-muc-in-laser-cao-cap-izinet-mua-nhieu---duoc-nhieu-6258.html">
                                <figure style="height:auto;" class="imageLinkWrapper Picture col-xs-12 col-sm-3 col-md-3"><img class="img-responsive" src="../image/banner_km_izinet_08_2018_web.jpg" /></figure>
                                <div style="padding-left:10px" class="col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>Khuyến mãi Mực in laser cao cấp iziNet "MUA NHIỀU - ĐƯỢC NHIỀU"
                                        </h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        23/08/2018</span> <span class="Visit"> - 1245 lượt xem</span>
                                </div>
                            </a><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="Khuyến mãi " href="tin-khuyen-mai/khuyen-mai-he-ron-rang---ngan-qua-canon-6255.html">
                                <figure style="height:auto;" class="imageLinkWrapper Picture col-xs-12 col-sm-3 col-md-3"><img class="img-responsive" src="../image/banner-web-03.jpg" /></figure>
                                <div style="padding-left:10px" class="col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>Khuyến mãi "Hè rộn ràng - ngàn quà Canon"</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        28/04/2018</span> <span class="Visit"> - 1390 lượt xem</span>
                                </div>
                            </a><a class="News-Sidebar imageLinkWrapperHover col-xs-6 col-sm-12 col-md-12" title="Tân Niên Mua Sắm Ngập Tràn Lì Xì Khủng" href="tin-khuyen-mai/tan-nien-mua-sam-ngap-tran-li-xi-khung-6247.html">
                                <figure style="height:auto;" class="imageLinkWrapper Picture col-xs-12 col-sm-3 col-md-3"><img class="img-responsive" src="../image/banner-tan-nien-2018.png" alt="Tân Niên Mua Sắm Ngập Tràn Lì Xì Khủng" /></figure>
                                <div style="padding-left:10px" class="col-xs-12 col-sm-9 col-md-9">
                                    <div class="NewsName">
                                        <h3>Tân Niên Mua Sắm Ngập Tràn Lì Xì Khủng</h3>
                                    </div><span class="CreateDate"><i class="fa fa-clock-o"></i>
                                        08/02/2018</span> <span class="Visit"> - 2048 lượt xem</span>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
a {
    text-decoration: none;
}

a:hover .imageLinkWrapper:before {
    box-shadow: 0 0 0 3px #F31A2B inset, 0 0 100px rgba(0, 0, 0, 0.7) inset !important;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.Home-News-Latest {
    header {
        padding-bottom: 5px;

        h3 {
            color: #333333;
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 0;
            padding-left: 33px;
            position: relative;
        }
    }

    .Visit,
    .CreateDate {
        color: #929292;
        font-size: 11px;
    }

    h3 {
        color: #474747;
        font-size: 13px;
        font-weight: normal;
        line-height: 17px;
    }

    .News-Sidebar {
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
}

.imageLinkWrapper {
    position: relative;
    text-align: center;
    padding: 0;
    min-height: 65px;

    &:before {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 2;
        overflow: hidden;
        top: 0;
        left: 0;
    }
}

.Home-News-Latest .Visit,
.Home-News-Latest .CreateDate {
    color: #929292;
    font-size: 11px;
}

.main-content-bottom {
    margin: 20px 0 -20px;
    background: #f4f5f6;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.clearfix:before {
    content: "";
    clear: both;
    display: table;
}

.block-news-video {
    padding-right: 15px;
}

.Home-News-Video {
    header {
        padding-bottom: 5px;

        h3 {
            color: #333333;
            font-size: 18px;
            margin-bottom: 5px;
            margin-top: 0;
            padding-left: 33px;
            position: relative;
        }
    }

    .Visit,
    .CreateDate {
        color: #929292;
        font-size: 11px;
    }

    h3 {
        color: #474747;
        font-size: 13px;
        font-weight: normal;
        line-height: 17px;
    }

    .News-Sidebar {
        border-bottom: 1px solid #eee;
        padding: 10px 0;
        display: flex;
        align-items: center;
    }

    .News-Video:after {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        background-size: 50px auto;
        height: 40px;
        width: 50px;
        text-indent: -119988px;
        content: "";
    }
}
</style>
