<template>
<section class="container-fluid" id="header-nav">
    <div class="container">
        <div class="row" id="header-nav-top">
            <div class="col-md-3 header-title no-padding">
                <div class="menu-titles">Danh mục sản phẩm</div>
            </div>
            <div class="col-md-9 menu no-padding">
                <ul id="Menu-Top-Bar">
                    <li v-for="item in listMenu">
                        <a 
                            v-text="item.text"
                        ></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 no-padding">
                <div class="menus" role="navigation">
                    <ul id="Menu-Top" class="Menu-Top nav navbar-nav verticalmenu hidden-xs hidden-sm" style="display: block;">
                        <li class="dropdown"><a href="may-photocopy.html" class="dropdown-toggle">Máy Photocopy<b class="round-arrow"></b></a>
                            <div class="dropdown-menu" style="min-height: 340px; max-height: 340px;">
                                <ul class="row parent">
                                    <li class="dropdown col-sm-6 column">
                                        <div class="menu-title"><a href="canon/may-photocopy">Máy photocopy Canon</a></div>
                                        <ul>
                                            <li><a href="canon/may-photocopy/may-photocopy-trang-den">Máy photocopy trắng đen</a></li>
                                            <li><a href="canon/may-photocopy/may-photocopy-mau">Máy photocopy màu</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown col-sm-6 column">
                                        <div class="menu-title"><a href="ricoh/may-photocopy">Máy photocopy Ricoh</a></div>
                                        <ul>
                                            <li><a href="ricoh/may-photocopy/may-photocopy-trang-den">Máy photocopy trắng đen</a></li>
                                            <li><a href="ricoh/may-photocopy/may-photocopy-mau">Máy photocopy màu</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown col-sm-6 column">
                                        <div class="menu-title"><a href="xerox/may-photocopy">Máy photocopy Fuji Xerox</a></div>
                                        <ul>
                                            <li><a href="fuji-xerox/may-photocopy/may-photocopy-trang-den">Máy photocopy trắng đen</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown col-sm-6 column">
                                        <div class="menu-title"><a href="toshiba/may-photocopy">Máy photocopy Toshiba</a></div>
                                        <ul>
                                            <li><a href="/toshiba/may-photocopy/may-photocopy-trang-den">Máy photocopy trắng đen</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown col-sm-6 column">
                                        <div class="menu-title"><a href="sharp/may-photocopy">Máy photocopy Sharp</a></div>
                                        <ul>
                                            <li><a href="sharp/may-photocopy/may-photocopy-trang-den">Máy photocopy trắng đen</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown col-sm-6 column">
                                        <div class="menu-title"><a href="samsung/may-photocopy">Máy Photocopy Samsung</a></div>
                                        <ul>
                                            <li><a href="/samsung/may-photocopy/may-photocopy-trang-den">Máy photocopy trắng đen</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown col-sm-6 column">
                                        <div class="menu-title"><a href="hp/may-photocopy">Máy Photocopy HP</a></div>
                                        <ul>
                                            <li><a href="http://trungviethung.com.vn/hp/may-photocopy/may-photocopy-trang-den">Máy photocopy trắng đen</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown"><a href="may-scan.html" class="dropdown-toggle">Máy Scan<b class="round-arrow"></b></a>
                            <div class="dropdown-menu" style="min-height: 340px; max-height: 340px;">
                                <ul class="row">
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="/canon/may-scan">Máy scan Canon</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="/kodak/may-scan">Máy scan Kodak</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="plustek/may-scan">Máy scan Plustek</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="panasonic/may-scan">Máy scan Panasonic</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="brother/may-scan">Máy scan Brother</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="fujitsu/may-scan">Máy scan Fujitsu</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="epson/may-scan">Máy scan Epson</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="hp/may-scan">Máy scan HP</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="avision/may-scan">Máy scan Avision</a></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown"><a href="may-fax.html" class="dropdown-toggle">Máy Fax<b class="round-arrow"></b></a>
                            <div class="dropdown-menu" style="min-height: 340px; max-height: 340px;">
                                <ul class="row parent">
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="canon/may-fax">Máy fax Canon</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="panasonic/may-fax">Máy fax Panasonic</a></div>
                                    </li>
                                    <li class="dropdown col-sm-6 column">
                                        <div class="menu-title"><a href="brother/may-fax">Máy fax Brother</a></div>
                                        <ul>
                                            <li><a href="brother/may-fax/may-fax-nhiet">Máy fax nhiệt</a></li>
                                            <li><a href="brother/may-fax/may-fax-laser">Máy fax laser</a></li>
                                            <li><a href="brother/may-fax/may-fax-film">Máy fax film</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="ricoh/may-fax">Máy fax Ricoh</a></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown"><a href="may-in.html" class="dropdown-toggle">Máy in<b class="round-arrow"></b></a>
                            <div class="dropdown-menu" style="min-height: 340px; max-height: 340px;">
                                <ul class="row">
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="hp/may-in">Máy in HP</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="brother/may-in">Máy in Brother</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="panasonic/may-in">Máy in Panasonic</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="canon/may-in">Máy in Canon</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="oki/may-in">Máy in Oki</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="xerox/may-in">Máy in Xerox</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="epson/may-in">Máy in Epson</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="ricoh/may-in">Máy in Ricoh</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="samsung/may-in">Máy in Samsung</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="dell/may-in">Máy in Dell</a></div>
                                    </li>
                                    <li class="col-sm-6 column">
                                        <div class="menu-title"><a href="datacard/may-in">Máy in Datacard</a></div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="may-chieu.html" class="dropdown-toggle">Máy chiếu</a></li>
                        <li><a href="may-huy-giay.html" class="dropdown-toggle">Máy huỷ tài liệu</a></li>
                        <li><a href="may-cham-cong.html" class="dropdown-toggle">Máy chấm công</a></li>
                        <li><a href="muc-in.html" class="dropdown-toggle">Mực in</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 no-padding">
                <v-carousel hide-delimiters height="320">
                    <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
                </v-carousel>
            </div>
        </div>
    </div>
</section>
</template>

<script>
const listMenu = [{
        text: 'Trang chủ',
        route: 'home_page',
        highlight: false,
    },
    {
        text: 'Trang chủ',
        route: 'home_page',
        highlight: false,
    },
    {
        text: 'Chi tiết',
        route: 'detail_page',
        highlight: false,
    },
    {
        text: 'Trang chủ',
        route: 'home_page',
        highlight: false,
    },
    {
        text: 'Khuyến mãi',
        route: 'home_page',
        highlight: true,
    },
    {
        text: 'Trang chủ',
        route: 'home_page',
        highlight: false,
    },
];
export default {
    data() {
        return {
            items: [{
                    src: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
                },
                {
                    src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
                },
                {
                    src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
                },
                {
                    src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
                },
            ],
            listMenu
        };
    },
    
}
</script>

<style lang="scss" scoped>
.container {
    padding-bottom: 0;
    padding-top: 0;
}

#header-nav.container-fluid {
    position: relative;
    background: #FDBF18;
}

#header-nav {
    width: 100%;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#header-nav.container-fluid {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 42px;
        background: #2B3944;
        width: 100%;
    }

    &:after {
        clear: both
    }
}

#Menu-Top-Bar {
    display: flex;
    align-items: center;
    line-height: 42px;

    li {
        padding: 0 15px;
        position: relative !important;
        line-height: 42px;

        a {
            color: #dfdfdf;
            padding-top: 0;
            white-space: nowrap;
            font-size: 12px;
            text-transform: uppercase;
            line-height: 42px;
            font-family: arial;
            font-size: 11px;
            padding: 0 8px;
            text-decoration: none;

            &:before {
                content: "/";
                height: 42px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                color: #fff;
                right: 0;
            }
        }

        &:last-child a:before {
            content: " "
        }
    }
}

.menu-titles {
    line-height: 42px;
    background: red;
    text-align: center;
    text-transform: uppercase;
}

.menu-titles:before {
    content: "\f0c9";
    left: 10px;
    font-family: "FontAwesome";
    color: #eee;
    position: absolute;
    top: 0;
    height: 5px;
    width: 5px;
}

.menu-titles:after {
    content: "\f0d7";
    right: 10px;
    font-family: "FontAwesome";
    color: #eee;
    position: absolute;
    top: 0;
    height: 5px;
    width: 5px;
}

.dropdown-toggle::after {
    display: none;
}

.Menu-Top .round-arrow {
    color: #DA251C;
    float: right;
    height: 20px;
    line-height: 20px;
    padding-left: 2px;
    text-align: center;
    width: 15px;
    position: relative;

    &:before {
        font-family: 'FontAwesome';
        font-style: normal;
        font-weight: normal;
        speak: none;
        -webkit-font-smoothing: antialiased;
        content: "\f105";
        text-transform: none;
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }
}

.Menu-Top>li.dropdown:hover .round-arrow {
    color: #fff14f;
}

.Menu-Top>li.dropdown:hover>a {
    position: relative;
}

.Menu-Top>li.dropdown:hover>a::after {
    border-color: rgba(0, 0, 0, 0) #da251c;
    border-style: solid;
    border-width: 20px 0 20px 10px;
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    z-index: 99999;
}

.Menu-Top>li.dropdown:hover>a::before {
    background: #da251c;
    content: "";
    height: 40px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%);
    -moz-transform: translate(0px, -50%);
    -ms-transform: translate(0px, -50%);
    -o-transform: translate(0px, -50%);
    -webkit-transform: translate(0px, -50%);
    width: 10px;
    z-index: 99999;
}

.Menu-Top>li.dropdown:hover .dropdown-menu {
    opacity: 1;
    left: 100%;
    top: -3px;
    z-index: 10000;
}

.Menu-Top .dropdown.column:nth-of-type(2n+1) {
    clear: both;
}

.Menu-Top .dropdown.column {
    margin-bottom: 5px;
}

.Menu-Top li {
    list-style: none;
}

.Menu-Top ul.parent .menu-title a {
    color: #666;
    font-weight: 700;
    display: inline-block;
    border-bottom: 4px double #eeeeee;
    padding-bottom: 3px;
    margin-bottom: 3px;
    text-transform: uppercase;
}

.menu-title a {
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 5px 0;
    display: block;
}

.Menu-Top a {
    font-size: 13px;
}

.Menu-Top>li ul ul {
    margin-top: 5px;
}

.Menu-Top>li ul ul li:before {
    content: "\F0DA";
    position: absolute;
    left: 5px;
    top: 10px;
    width: 15px;
    height: 15px;
    font-family: "fontawesome";
    font-size: 12px;
    color: #da251c;
}

.Menu-Top>li ul ul li {
    position: relative;
    padding-left: 15px;
}

.Menu-Top>li ul ul li a {
    display: block;
    font-size: 12px;
    padding-bottom: 5px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Menu-Top>li:hover,
.Menu-Top>li:hover>a {
    background: #da251c;
    color: #fff;
}

.menus {
    background: white;
    position: relative;

    li {
        float: none;
        position: static;

        a {
            border-bottom: 1px solid #dedede;
            color: #333;
            font-size: 13px;
            font-weight: 500;
            padding-top: 10.8px;
            padding-bottom: 10.7px;
            position: relative;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            padding: 10px 15px;

        }

        .dropdown-menu {
            background-clip: padding-box;
            background-color: #fff;
            float: left;
            font-size: 12px;
            list-style: outside none none;
            position: absolute;
            top: 100%;
            border: 0 none;
            display: block;
            left: 100%;
            min-width: 250%;
            max-width: 302%;
            opacity: 0;
            padding: 20px;
            right: auto;
            z-index: -1;
            overflow: auto;
        }
    }
}
</style>
