<template>
<v-app class="padding-app">
    <Header />
    <MenuHeader />
    <BrandLogo />
    <BrandLayout />
    <MainContentBottom />
    <FooterLayout />
</v-app>
</template>

<script>
import HederLayout from '@/components/layout/HeaderLayout.vue';
import MenuLayout from '@/components/layout/MenuLayout.vue';
import FooterLayout from '@/components/FooterLayout';
import MainContentBottom from '@/components/MainContentBottom'
import BrandLayout from '@/components/BrandLayout'
import MenuHeader from '@/components/MenuHeader'
import BrandLogo from '@/components/BrandLogo'
import Header from '@/components/Header'
export default {
    components: {
        HederLayout,
        MenuLayout,
        FooterLayout,
        MainContentBottom,
        BrandLayout,
        MenuHeader,
        BrandLogo,
        Header
    },
};
</script>

<style lang="scss">
@import '@/assets/styles/bulma.scss';

// .padding-app {
//     padding: 0px 350px;

//     @media only screen and (max-width: $mid-pc) {
//         padding: 0px 100px;
//     }
// }
</style>
